@media (min-width: 768px) and (max-width: 1020px) {
    .sliderPhone1 {
        padding: 41px 54px 0px 84px;
    }
    .sliderPhone2 {
        padding: 134px 84px 0px 0px;
    }
    .sliderPhone3 {
        padding: 32px 0px 0px 0px;
    }
    .sliderPhone4 {
        padding: 114px 0px 0px 189px;
        margin-right: -15px;
    }
    .sliderPhone5 {
        padding: 114px 173px 0px 0px;
        margin-left: -25px;
    }
}
@media (min-width: 375px) and (max-width: 768px) {
    .sliderPhone1 {
        padding: 20px 27px 0px 41px;
    }
    .sliderPhone2 {
        padding: 65px 42px 0px 0px;
    }
    .sliderPhone3 {
        padding: 16px 0px 0px 0px;
    }
    .sliderPhone4 {
        padding: 56px 0px 0px 93px;
        margin-right: -15px;
    }
    .sliderPhone5 {
        padding: 56px 85px 0px 0px;
        margin-left: -15px;
    }
}
@media (min-width: 300px) and (max-width: 375px) {
    .sliderPhone1 {
        padding: 20px 27px 0px 41px;
    }
    .sliderPhone2 {
        padding: 55px 42px 0px 0px;
    }
    .sliderPhone3 {
        padding: 16px 0px 0px 0px;
    }
    .sliderPhone4 {
        padding: 36px 0px 0px 93px;
        margin-right: -15px;
    }
    .sliderPhone5 {
        padding: 36px 85px 0px 0px;
        margin-left: -15px;
    }
}



@media (max-width: 1920px){
    .burger-menu{
        display: none;
    }
}
@media (max-width: 795px){
    .tabsItem {
       width: 220px;
       padding: 10px;
       margin: 5px;
    }
}
@media (max-width: 768px){
    .tabsItem {
        width: 216px;
        padding: 10px;
    }
}
@media (max-width: 755px){
    .tabsItem {
        width: 200px;
        padding: 10px;
    }
}
@media (max-width: 705px){
    .tabsItem {
        width: 220px;
        padding: 10px;
        margin: 0;
    }
}
@media (max-width: 650px){
    .burger-menu{
        display: block;
    }
    .menu{
        display: none;
    }
    .headerContentInner{
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 555px){
    .tabsItem {
        padding: 10px;
        width: 180px;
    }
}
@media (max-width: 455px){
    .tabsItem {
        padding: 10px;
        width: 160px;
    }
}
@media (max-width: 395px){
    .portfolioItems {
        margin: 0px 10px 0px 30px;
    }
    .portfolioTop {
        margin: 42px 30px 12px 30px;
    }
    .tabsItem {
        padding: 5px;
        width: 151px;
    }
    .tabsItems {
        margin: 0px 25px 0px 25px;
    }
}
@media (max-width: 375px){
    .tabsItem {
        width: 151px;
        height: 128px;
        padding: 5px;
    }
}
