/* Version 1.0 18.11.2020 Create by Ulad Sasnouski */

@media (min-width: 768px) and (max-width: 1020px) {
    .sliderPhone1 {
        padding: 41px 54px 0px 84px;
    }
    .sliderPhone2 {
        padding: 134px 84px 0px 0px;
    }
    .sliderPhone3 {
        padding: 32px 0px 0px 0px;
    }
    .sliderPhone4 {
        padding: 114px 0px 0px 189px;
        margin-right: -15px;
    }
    .sliderPhone5 {
        padding: 114px 173px 0px 0px;
        margin-left: -25px;
    }
}
@media (min-width: 550px) and (max-width: 768px) {
    .sliderPhone1 {
        padding: 41px 27px 0px 41px;
    }
    .sliderPhone2 {
        padding: 134px 42px 0px 0px;
    }
    .sliderPhone3 {
        padding: 16px 0px 0px 0px;
    }
    .sliderPhone4 {
        padding: 76px 0px 0px 93px;
        margin-right: -15px;
    }
    .sliderPhone5 {
        padding: 76px 85px 0px 0px;
        margin-left: -25px;
    }
    .tabsItems {
        align-items: center;
        justify-content: center;
    }
    .tabsItem img {
        width: 151px;
        height: 128px;
    }
    .tabsItemHide:nth-child(n + 9) {
        display: none;
    }
}
@media (min-width: 375px) and (max-width: 550px) {
    .sliderPhone1 {
        padding: 20px 27px 0px 41px;
    }
    .sliderPhone2 {
        padding: 65px 42px 0px 0px;
    }
    .sliderPhone3 {
        padding: 16px 0px 0px 0px;
    }
    .sliderPhone4 {
        padding: 56px 0px 0px 93px;
        margin-right: -15px;
    }
    .sliderPhone5 {
        padding: 56px 85px 0px 0px;
        margin-left: -15px;
    }
    .tabsItems {
        align-items: center;
        justify-content: center;
    }
    .tabsItem img {
        width: 151px;
        height: 128px;
    }
    .tabsItemHide:nth-child(n + 9) {
        display: none;
    }
}
@media (min-width: 300px) and (max-width: 375px) {
    .sliderPhone1 {
        padding: 20px 27px 0px 41px;
    }
    .sliderPhone2 {
        padding: 55px 42px 0px 0px;
    }
    .sliderPhone3 {
        padding: 16px 0px 0px 0px;
    }
    .sliderPhone4 {
        padding: 50px 0px 0px 93px;
        margin-right: -15px;
    }
    .sliderPhone5 {
        padding: 50px 85px 0px 0px;
        margin-left: -15px;
    }
    .tabsItemHide:nth-child(n + 9) {
        display: none;
    }
}
@media (min-width: 1px) and (max-width: 300px) {
    .sliderPhone1 {
        padding: 30px 17px 0px 31px;
    }
    .sliderPhone2 {
        padding: 40px 32px 0px 0px;
    }
    .sliderPhone3 {
        padding: 8px 0px 0px 0px;
    }
    .sliderPhone4 {
        padding: 20px 0px 0px 40px;
        margin-right: -15px;
    }
    .sliderPhone5 {
        padding: 20px 30px 0px 0px;
        margin-left: -15px;
    }
    .burger-menu_nav {
        display: none;
    }
    .burger-menu_button {
        display: none;
    }
    .headerLogo a h1 {
        margin: 0 auto;
    }
    .slickBtn:before {
        top: 10%;
    }
    .serviceItem {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }
    .serviceItems {
        margin: 0 auto;
    }
    .serviceTop {
        margin: 0 auto;
    }
    .headerContent {
        padding: 0;
    }
    .tabsItemHide:nth-child(n + 9) {
        display: none;
    }
}
@media (max-width: 1920px){
    .burger-menu{
        display: none;
    }
}
@media (max-width: 1019px){
    .serviceItems {
        align-items: center;
        justify-content: center;
    }
    .serviceItem {
        max-width: 308px;
    }
    .tabsItems {
        align-items: center;
        justify-content: center;
    }
    .tabsItem img {
        width: 218px;
        height: 184px;
    }
    .tabsItem {
        padding: 10px;
    }
}
@media (max-width: 792px){
    .tabsItems {
        align-items: center;
        justify-content: center;
    }
    .tabsItem img {
        width: 214px;
        height: 183px;
    }
}
@media (max-width: 780px){
    .tabsItems {
        align-items: center;
        justify-content: center;
    }
    .tabsItem img {
        width: 214px;
        height: 183px;
    }
    .tabsItem {
        padding: 8px;
    }
}
@media (max-width: 768px){
    .burger-menu{
        display: block;
    }
    .menu{
        display: none;
    }
    .headerContentInner{
        display: flex;
        justify-content: center;
    }
    .serviceItems {
        align-items: center;
        justify-content: center;
    }
    .tabsItems {
        align-items: center;
        justify-content: center;
    }
    .tabsItem img {
        width: 215px;
        height: 184px;
    }
    .tabsItem {
        padding: 7.6px;
    }
    .footerText {
        display: none;
    }
    .footerContent {
        align-items: center;
        justify-content: center;
    }
    .footerIcons {
        margin: 0 auto;
        padding: 10px 0px 10px 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 540px){
    .tabsItems {
        align-items: center;
        justify-content: center;
        margin: 0px 20px 0px 20px;
    }
}
@media (max-width: 530px){
    .tabsItems {
        align-items: center;
        justify-content: center;
        margin: 0px 20px 0px 20px;
    }
    .tabsItem img {
        width: 148px;
        height: 126px;
    }
    .tabsItem {
        padding: 5.5px;
    }
}
@media (max-width: 395px){
    .portfolioItems {
        margin: 0px 10px 0px 30px;
    }
    .portfolioTop {
        margin: 0px 30px 12px 30px;
    }
    .footerIcons {
        margin: 0 auto;
        padding: 10px 0px 10px 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 300px){
    .portfolioItems {
        margin: 0 auto;
    }
    .portfolioTop {
        margin: 0 auto;
    }
    .portfolioTop {
        margin: 0 auto;
    }
    .portfolioTitleBox {
        margin: 0 auto;
    }
    .portfolioTitle {
        margin: 0 auto;
    }
    .portfolioText {
        margin: 0 auto;
    }
    .portfolioItems {
        margin: 0 auto;
    }
    .portfolioItem {
        margin: 0 auto;
    }
    .tabsItems {
        margin: 0 auto;
        width: 100%;
    }
    .tabsItem {
        margin: 0 auto;
        padding: 5px 0px 5px 0px;
        width: 100%;
    }
    .tabsItem img {
        width: 100%;
    }
    .footerIcons {
        margin: 0 auto;
        padding: 10px 0px 10px 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer {
        margin: 0 auto;
    }
    .container {
        margin: 0 auto;
    }
}
